# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.playground
timeline.xctimeline
playground.xcworkspace

# Swift PM
.build/
.swiftpm/

# macOS
.DS_Store
*.swp

# Secrets
*.p12
*.mobileprovision
AuthKey_*.p8
